[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - erikdubois/Ultimate-Ubuntu-16.04: What to do after a clean installation of Ubuntu 16.04.
Type=Link
URL=https://github.com/erikdubois/Ultimate-Ubuntu-16.04
Icon=text-html
